html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

html {
  scroll-behavior: smooth;
}

.top-nav-collapse {
    background-color: #495155f5 !important;
}
  
.navbar:not(.top-nav-collapse) {
    background: rgb(0, 0, 0) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}
  
@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: #363c3f !important;
    }
    .navbar {
      width: inherit;
    }
    #skills .container {
      padding-bottom: 5%;
    }
    .py-5 {
      padding: 0 !important;
    }
    .col-sm-4 {
      padding-top: 5%;
      padding-bottom: 5%;
    }
    .col-sm-2 {
      width: 33%;
      padding: 5%;
    }
    #contact {
      padding: 0 5% 0 5%;
    }
}

.view .mask {
  position: absolute;
  background-color: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

h1 {
letter-spacing: 8px;
color: #fff;
}

.view p {
  font-size: 1.25rem;
  letter-spacing: 3px;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 8px;
  }

#about h2 {
  padding-bottom: 1em;
}
  
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

a:link.efa {
    color: red;
    text-decoration: underline;
}
a:visited.efa  {
    color: darkred;
}
a:hover.efa  {
    color: darkmagenta;
}
a:active.efa  {
    color: darkred;
}

a:link.ksm {
    color: #6f9ab4;
    text-decoration: underline;
}
a:visited.ksm  {
    color: #435e6e;
}
a:hover.ksm  {
    color: #3e3d70;
}
a:active.ksm  {
    color: #435e6e;
}

#skills h2 {
  color: #fff;
}

#skills .col-sm-4{
  margin: auto !important;
  padding-top: 3em !important;
  padding-bottom: 0;
}

#projects {
  padding-top: 3em;
}

#contact {
    margin-top: 2em !important;
    color: #fff;
}

#contact h2 {
    text-align: center;
}

#contact .hr-light {
  width:  60%;
}

a:link.linkedin {
  color: #fff;
  text-decoration: underline;
}
a:visited.linkedin  {
  color: #fff;
}
a:hover.linkedin  {
  color: #fff;
}
a:active.linkedin  {
  color: #fff;
}
